body{
    background-image: url("/static/img/LOGO2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.custom-row {
    padding: 50px;

}

.custom-container {
    background-color: rgba(240, 248, 255, 0.5);
    border-color: black;
    border-width: 4px;
    border-style: solid;
}

.login-row {
    margin-top: 15px;
}

.login-row > div > a {
    color: black;
    font-weight: bold;
}

.login-row > div > a:hover {
    color: #1d68a7;
}

.custom-a {
    color: black;
}

.menu {
    height: 230px;
}

.custom-ul > li > div > a {
    font-weight: bold;
    font-size: medium;
}

.custom-ul {
    margin: 0 auto;
}

.custom-ul > li {
    font-size: xx-large;
}

.custom-ul > li > div {
    padding: 0;
    border-width: 0;
}


.custom-ul > li > div {
    background-color: rgba(255, 255, 255, 0);
}


div.dropdown-divider {
    border-top: 2px solid black;
    margin: 0;
}

.sub-block {
    background-color: white;
}

.sub-row {
    padding: 15px;
}

.sub-block > div > div > img {
    width: 108px;
    height: 192px;
}

.sub-block > div > div > ul {
    margin-top: 10px;
}
